# зависимости
node_modules
.pnpm-store

# next.js
.next
out
dist
build

# переменные окружения
.env.local
.env*.local

# отладка
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# testing
coverage
